* {
    font-family: Poppins;
}

/* Hide the spinner for WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chart-container {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
}

/* Hide the spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
    --primary-color: #1F5F3B;
    --secondary-color: #4CAF50;
    --accent-color: #D4AF37;
    --background-color: #FFF6E5;
    --text-color: #4A2C1D;
    --button-dark-color: #1F5F3B;
    --cream: #FFF6E5;
    --deepgreen: #1F5F3B;
    --leafgreen: #4CAF50;
    --gold: #D4AF37;
    --brown: #4A2C1D;
}

.pass {
    padding: 10px;
}

.submit {
    background-color: #1F5F3B;
}

.submit:hover {
    background-color: #4CAF50;
}

.custom {
    background-color: #1F5F3B;
}

.custom:hover {
    background-color: #4CAF50;
}

.text-color{
    color: #1F5F3B;
}

@keyframes ping {
    0%   { transform: scale(0.9); opacity: 0.7; }
    80%  { transform: scale(1.6); opacity: 0; }
    100% { transform: scale(1.8); opacity: 0; }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #1A5B63, 0 0 10px #1A5B63, 0 0 15px #1A5B63;
  }
  100% {
    box-shadow: 0 0 10px #35AF87, 0 0 20px #35AF87, 0 0 30px #35AF87;
  }
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.4s ease-out forwards;
  }
  

.forgotPass:hover {
    color: #16796E;
}

.forgotPass {
    color: #35AF87;
}

.background-white {
    background-color: #FFF6E5;
}

.button-bg-color {
    background-color: var(--primary-color);
}

.button-bg-color:hover {
    background-color: var(--secondary-color);
}

.button-mid-dark-color {
    background-color: var(--secondary-color);
}

.button-dark-color {
    background-color: var(--button-dark-color);
}

.text-color {
    color: #35AF87;
}

.Toastify__toast--success {
    background-color: var(--primary-color) !important;
    /* Success toast background */
}

.Toastify__toast--error {
    background-color: #f44336 !important;
    /* Error toast background */
}

.Toastify__toast {
    color: white !important;
    /* General text color for all toasts */
}