.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #1F5F3B, 0 0 10px #1F5F3B, 0 0 15px #1F5F3B;
  }
  100% {
    box-shadow: 0 0 10px #4CAF50, 0 0 20px #4CAF50, 0 0 30px #4CAF50;
  }
}


.App-header {
  background-color: #FFF6E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4A2C1D;
}

.App-link {
  color: #1F5F3B;
}

/* Fullscreen loader styles */
.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5); /* overlay */
  backdrop-filter: blur(2px);                 /* blur */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
